body {
    background-color: burlywood;
}

h1 {
    text-align: center;
    color: brown;
}

hr {
    background-color: rgba(173, 96, 7, 0.555);
}

a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }

.favorite-apps {
    background-color: antiquewhite;
    width: 175px;
    height: 250;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border:  1px solid brown;
  

}

.favorite-apps-title {
    text-align:center;
    color: brown;

}
.favorite-apps-text-are {
    align-content: center;
    margin: auto;


}
